<b>
  string-interpolation
</b>
<br/>

<h3>Original String: {{Name}}</h3>

<br/>

<h3>Length: {{Name.length}}</h3>

<br/>

<h3>Upper Case: {{Name.toUpperCase()}}</h3>

<br/>

<h3>Lower Case: {{Name.toLowerCase()}}</h3>

<br/>

