<table>
  <tr>
    <td>
      <label class="Labels">Enter First Name:</label>  
    </td>
    <td>
<input class="TextInput" type="text" />
    </td>
  </tr>
</table>

<br/>

<app-string-interpolation></app-string-interpolation>